<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stravaapitest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stravaapitest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StravaApiTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StravaApiTest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LocalConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:zelgmr14uq.database.windows.net,1433;Initial Catalog=StravaApiTestDb;Integrated Security=False;User ID=StravaApiTest@zelgmr14uq;Password=Katrina1!;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StravaApiTest.DAL.AppDbContext, StravaApiTest" MigrationConfiguration="StravaApiTest.Migrations.Configuration, StravaApiTest" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zelgmr14uq.database.windows.net,1433;Initial Catalog=StravaApiTestDb;Integrated Security=False;User ID=StravaApiTest@zelgmr14uq;Password=Katrina1!;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="LocalConnection" />
  </ItemGroup>
</Project>