@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Strava API Test</h1>
    <p class="lead">Click below to allow access to your Strava account.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("/GetAuthWebServiceCode", new { })">
            <img src="@Url.Content("~/Images/ConnectWithStrava.png")" , alt="Link your Strava account" />
        </a>        
    </div>
</div>