@model StravaApiTest.ViewModels.ActivityStreamsViewModel
@{
    ViewBag.Title = "All Streams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Stream Data</h2>

<div>
    <hr />
    @Html.ActionLink("Download as csv", "Export", new { activityId = Model.ActivityId })
    <hr /><br />

    @Html.Raw(Model.StreamDataAsHtmlTable)
    
</div>
